name: Windows x86

on:
  push:
    paths-ignore:
      - ".gitignore"
      - "docs/**"
      - "README"
      - "CREDITS.TXT"
      - "COPYING_GLIB"
      - "COPYING.LGPL2"
      - "AUTHORS.TXT"
      - "CHANGELOG"
      - "COPYING"
  pull_request:

env:
  MELONDS_GIT_BRANCH: ${{ github.ref }}
  MELONDS_GIT_HASH: ${{ github.sha }}
  MELONDS_BUILD_PROVIDER: GitHub Actions
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Check out sources
      uses: actions/checkout@v3
    
    - name: Set up MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW32
        update: true

    - name: Install dependencies
      run: pacman -Sq --noconfirm git make mingw-w64-i686-{cmake,mesa,SDL2,qt5-static,libslirp,libarchive,libepoxy,toolchain}

    - name: Create build env
      working-directory: ${{runner.workspace}}
      run: mkdir build
    
    - name: Configure
      working-directory: ${{runner.workspace}}/build
      # run: cmake --preset=release-mingw-i686 -DMELONDS_EMBED_BUILD_INFO=ON
      run: cmake $GITHUB_WORKSPACE -G 'MSYS Makefiles' -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_STATIC=ON -DCMAKE_PREFIX_PATH=C:/tools/msys64/mingw64/qt5-static
    
    - name: Build
      working-directory: ${{runner.workspace}}/build
      # run: cmake --build --preset=release-mingw-i686
      run: make -j$(nproc --all)
      
    - uses: actions/upload-artifact@v3
      with:
        name: melonDS-windows-i686
        # path: .\build\release-mingw-i686\melonDS.exe
        path: ${{runner.workspace}}\build\melonDS.exe
